.post-container {
   width: 598px;
   position: relative;
}

.post {
   display: flex;
   background-color: rgb(0,0,0);
   width: 612px;
   height: 116px;
   position: relative;

   border-bottom-color: rgb(66, 66, 66);
   border-bottom-style: solid;
   border-width: 0.5px;
}

.profile-picture {
   width: 44px;
   border-radius: 25px;
   margin: 15px 15px 50px 15px;
}

.message-row {
   margin-top: 7px;
   position: relative;
}

.message {
   background-color: rgb(0,0,0);
   border: none;
   color: gray;
   font-size: 20px;
   width: 500px;
   height: 30px;
   margin-top: 10px;
}

.icons-row {
   width: 400px;
   height: 34px;
   display: flex;
   position: absolute;
   margin-top: 70px;
   margin-left: 74px;
   position: absolute;
   left: 0;
   bottom: 10px;
}

.icons-container img {
   margin-right: 7px;
   width: 20px;
   cursor: pointer;
   padding-left: 8px;
}

.icons-container {
   height: 34px;
   border-radius: 17px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   transition: background-color 0.15s;
   margin-right: 2px;
}

.icons-container:hover {
   background-color: rgb(35, 35, 35);
}

.post-button {
   position: absolute;
   bottom: 10px;
   right: 16px;
   display: flex;
}

.post-button button {
   background-color: #12B886;
   color: white;
   font-weight: bold;
   font-size: 15px;
   border: none;
   border-radius: 25px;
   width: 66px;
   height: 36px;
   cursor: pointer;
   padding: 5px 5px 6px 5px;
   transition: background-color 0.15s;
}

.post-button button:hover {
   background-color: #0e9e73;
}